<script setup>
import axios from 'axios';
import { reactive, ref, onMounted,watch } from 'vue'
import Swal from 'sweetalert2';


let verModal = ref(false)
let verModalEdit = ref(false)
const imagenPrevia = ref('');
let nombreArchivo = ref('Elegir Imagen')
let categoria = ref(0)
let precio = ref(0)
let titulo = ref('')
const fileInput = ref(null);
let categorias = reactive([])
let libros = reactive([])
let libro = reactive({
  id:'',
  isbn: '',
  titulo: '',
  fecha: '',
  numero_paginas: '',
  precio: '',
  imagen:'',
  categoria_id: 1
})
const resetLibro = () => {
      Object.keys(libro).forEach((key) => {
        libro[key] = '';
      });
    };
const guardarLibro = () => {
  let formData = new FormData()
      formData.append('titulo', libro.titulo)
      formData.append('isbn', libro.isbn)
      formData.append('numero_paginas', libro.numero_paginas)
      formData.append('precio', libro.precio)
      formData.append('fecha', libro.fecha)
      formData.append('categoria_id', libro.categoria_id)
      formData.append('imagen', libro.imagen)
  axios.post('http://127.0.0.1:8801/api/libros', formData)
    .then(() => {
      verModal.value=false
      resetLibro()
      obtenerLibros()
    })
    .catch(() => {
      alert('erorr')
    })
}
//
onMounted(() => {
  console.log('Todo cargado')
  axios.get('http://127.0.0.1:8801/api/categorias')
    .then((response) => {
      categorias.splice(0, categorias.length, ...response.data.data);
    })
    obtenerLibros()
    
})
watch([categoria,precio,titulo],()=>{
  obtenerLibros()
})
const obtenerLibros=()=>{
  axios.get('http://127.0.0.1:8801/api/libros',{
        params: {
          categoria: categoria.value,
          precio: precio.value,
          titulo: titulo.value,
        },

  })
    .then((response) => {
      libros.splice(0, libros.length, ...response.data.data);
    })
}
const seleccionaImagen = () => {
      if (fileInput.value.files.length > 0) {
        libro.imagen = fileInput.value.files[0]
        nombreArchivo.value = fileInput.value.files[0].name;
      } else {
        nombreArchivo.value = '';
      }
      const file = fileInput.value.files[0];
      const reader = new FileReader();

      reader.onload = () => {
        imagenPrevia.value = reader.result;
      };

      if (file) {
        reader.readAsDataURL(file);
      }
    };

const eliminarLibro=(libro)=>{
  axios.delete(`http://127.0.0.1:8801/api/libros/${libro.id}`)
          .then(response => {
            Swal.fire({
              title: 'Libro Eliminado',
              text: `El libro  ${libro.titulo}  se elimino sin problemas`,
              icon: 'success',
            });
            obtenerLibros()
          })
          .catch(error => {
            console.log(error)
          })
}
const editarLibro=(elemento)=>{
  verModalEdit.value=true
    libro.id=elemento.id
    libro.titulo=elemento.titulo
    libro.precio=elemento.precio
    libro.fecha=elemento.fecha
    libro.numero_paginas=elemento.numero_paginas
    libro.isbn=elemento.isbn
    libro.categoria_id=elemento.categoria_id
    imagenPrevia.value = 'http://127.0.0.1:8801/storage/' + elemento.imagen_url
}
const actualizarLibro=()=>{
  let formData = new FormData()
      formData.append("_method", "PUT")
      formData.append('id', libro.id)
      formData.append('titulo', libro.titulo)
      formData.append('isbn', libro.isbn)
      formData.append('numero_paginas', libro.numero_paginas)
      formData.append('precio', libro.precio)
      formData.append('fecha', libro.fecha)
      formData.append('categoria_id', libro.categoria_id)
      formData.append('imagen', libro.imagen)

      
  axios.post(`http://127.0.0.1:8801/api/libros/${libro.id}`,formData,{
      headers: {
        'content-type': 'application/x-www-form-urlencoded',
      }
  })
    .then(() => {
      verModalEdit.value=false
      resetLibro()
      obtenerLibros()
    })
    .catch(() => {
      alert('erorr')
    })
}
</script>

<template>
  <header class="bg-red-600 py-4 shadow-md flex justify-between items-center">
    <img class="h-[40px]" src="logo/logo.png">
    <nav class="flex-end text-yellow-200">
      <a class="hover:bg-black hover:text-white p-2 rounded-md mx-2" href="#">Libros</a>
      <a class="hover:bg-black hover:text-white p-2 rounded-md mx-2" href="#">Categorias</a>
    </nav>
  </header>
  <main class="flex-auto flex justify-center">
    <div class="w-10/12 p-3 bg-white mt-4 rounded-xl shadow-sm">
      <div class="flex justify-between my-2">
        <h1 class="text-xl font-semibold">Lista de Libros</h1>
        <button v-on:click="verModal = true" class="bg-indigo-600 text-white py-2 px-4 rounded-lg">Nuevo Libro</button>
      </div>
      <div>
        <h1>Filtros</h1>
        <div class="w-full grid grid-cols-6 gap-3">
          <div>
          <label>Categoria</label>
          <select v-model="categoria" class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border">
            <option value="0">Todos</option>
            <option v-for="(categoria) in categorias" :key="categoria.id">{{ categoria.nombre }}</option>
          </select>
          </div>
          <div>
          <label>Precio:</label>
          <select v-model="precio" class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border">
            <option value="0">Todos</option>
            <option value="1">0-20</option>
            <option value="2">21-50</option>
            <option value="3">51-100</option>
            <option value="4">100-....</option>
          </select>
          </div>
          <div class=" col-span-4">
          <label>Nombre de Libro</label>
          <input v-model="titulo" type="text" class="mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
            placeholder="Titulo de libro"/>
          </div>
        </div>
        
        
      </div>
      <div class="grid grid-cols-4 gap-3">
        <div v-for="(libro) in libros" :key="libro.id" class="text-center border-2 rounded-xl p-4 shadow-lg">
          <img class=" h-[250px] mx-auto" :src="'http://127.0.0.1:8801/storage/' + libro.imagen_url" :alt="libro.titulo" />
          <h2 class="font-bold text-xl">{{ libro.titulo }}</h2>
          <p class="text-red-600 font-bold">{{ libro.precio }}</p>
          <button v-on:click="editarLibro(libro)" class="border border-green-300 hover:bg-green-600 hover:text-white  rounded mx-2 p-2 text-sm">Editar</button>
          <button v-on:click="eliminarLibro(libro)" class="border border-red-400 hover:bg-red-600 hover:text-white rounded mx-2 p-2 text-sm">Eliminar</button>
        </div>
      </div>
      
    </div>
  </main>
  <div v-if="verModal"
    class="py-12 bg-gray-700 transition duration-150 ease-in-out z-10 absolute top-0 right-0 bottom-0 left-0">
    <div class=" mx-auto  max-w-2xl">
      <div class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400">
        <div class="w-full flex justify-start items-center text-gray-600 mb-3">
          <svg class="fill-slate-600 h-8" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path  d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z" />
          </svg>
          <h1 class="ml-4 text-gray-800 font-lg font-bold tracking-normal leading-tight">NUEVO LIBRO</h1>
        </div>
        <div class="grid grid-cols-2 gap-2">
          <div>
            <label for="name" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Categoria</label>
            <select v-model="libro.categoria_id"
              class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border">
              <option v-for="(categoria) in categorias" class="p-2" :value="categoria.id">{{ categoria.nombre }}</option>
            </select>
          </div>
          <div>
            <label for="name" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">ISBN</label>
            <input id="name" v-model="libro.isbn"
              class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
              placeholder="XXXX - XXXX - XXXX - XXXX" />

          </div>

        </div>
        <label for="email2" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Titulo</label>
        <div class=" mb-5 mt-2">
          <input v-model="libro.titulo" id="email2"
            class="text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
            placeholder="Titulo de libro" />
        </div>

        <div class="grid grid-cols-2 gap-2">
          <div class="">
            <label for="expiry" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Fecha de
              Publicacion</label>
            <input v-model="libro.fecha"  type="date"
              class="mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" />
          </div>
          <div>
            <label for="cvc" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Numero de Paginas</label>
          <div class="mt-2">
            <input v-model="libro.numero_paginas" type="number" id="cvc"
              class="mb-5 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
              placeholder="1"/>
          </div>
          </div>
        </div>

        <label for="cvc" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Precio</label>
        <div class=" mb-5 mt-2">
          <input v-model="libro.precio" type="number" id="cvc"
            class="mb-8 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
            placeholder="00.00" />
        </div>
        <div>
          
          
          <label for="dropzone-file" class="mx-auto cursor-pointer flex w-full max-w-lg flex-col items-center rounded-xl border-2 border-dashed border-blue-400 bg-white p-6 text-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
    </svg></label>
    <h2 class="mt-2 text-xl font-medium text-gray-700 tracking-wide text-center">{{nombreArchivo}}</h2>

    <p class="my-2 text-gray-500 text-sm tracking-wide text-center">Elija solo archivos png. </p>

    <input ref="fileInput" @change="seleccionaImagen"  id="dropzone-file" type="file" class="hidden" accept="image/*"/>
      </div>
        <div class="flex items-center justify-start w-full">
          <button
            class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-8 py-2 text-sm"
            v-on:click="guardarLibro()">Guardar</button>
          <button
            class="focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-red-400 ml-3 bg-red-600 transition duration-150 text-white ease-in-out hover:border-red-400 hover:bg-red-500 border rounded px-8 py-2 text-sm"
          v-on:click="verModal=false">Cancelar</button>
      </div>
      <button
        class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out rounded focus:ring-2 focus:outline-none focus:ring-gray-600"
        v-on:click="verModal=false" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="20" height="20"
          viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" />
          <line x1="18" y1="6" x2="6" y2="18" />
          <line x1="6" y1="6" x2="18" y2="18" />
        </svg>
      </button>
    </div>
  </div>
</div>
<div v-if="verModalEdit"
    class="py-12 bg-gray-700 transition duration-150 ease-in-out z-10 absolute top-0 right-0 bottom-0 left-0">
    <div class=" mx-auto  max-w-2xl">
      <div class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400">
        <div class="w-full flex justify-start items-center text-gray-600 mb-3">
          <svg class="fill-slate-600 h-8" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path  d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z" />
          </svg>
          <h1 class="ml-4 text-gray-800 font-lg font-bold tracking-normal leading-tight">EDITAR LIBRO</h1>
        </div>
        <div class="grid grid-cols-2 gap-2">
          <div>
            <label for="name" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Categoria</label>
            <select v-model="libro.categoria_id"
              class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border">
              <option v-for="(categoria) in categorias" class="p-2" :value="categoria.id">{{ categoria.nombre }}</option>
            </select>
          </div>
          <div>
            <label for="name" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">ISBN</label>
            <input id="name" v-model="libro.isbn"
              class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
              placeholder="XXXX - XXXX - XXXX - XXXX" />

          </div>

        </div>
        <label for="email2" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Titulo</label>
        <div class=" mb-5 mt-2">
          <input v-model="libro.titulo" id="email2"
            class="text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
            placeholder="Titulo de libro" />
        </div>

        <div class="grid grid-cols-2 gap-2">
          <div class="">
            <label for="expiry" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Fecha de
              Publicacion</label>
            <input v-model="libro.fecha"  type="date"
              class="mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" />
          </div>
          <div>
            <label for="cvc" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Numero de Paginas</label>
          <div class="mt-2">
            <input v-model="libro.numero_paginas" type="number" id="cvc"
              class="mb-5 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
              placeholder="1"/>
          </div>
          </div>
        </div>
        <div class="grid grid-cols-2">

          <div>
            <label for="cvc" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Precio</label>
        <div class=" mb-5 mt-2">
          <input v-model="libro.precio" type="number" id="cvc"
            class="mb-8 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
            placeholder="00.00" />
        </div>
          </div>
          <div class=" text-center">
            
                      <img class="h-[200px] mx-auto" :src="imagenPrevia"/>
            <label for="dropzone-file2" class="bg-orange-200 p-2 text-sm rounded font-bold mt-3 cursor-pointer">Cambiar Imagen</label>
          </div>

        </div>
        
        <div>
          
    <input ref="fileInput" @change="seleccionaImagen"  id="dropzone-file2" type="file" class="hidden" accept="image/*"/>
      </div>
        <div class="flex items-center justify-start w-full">
          <button
            class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-8 py-2 text-sm"
            v-on:click="actualizarLibro()">Actualizar</button>
          <button
            class="focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-red-400 ml-3 bg-red-600 transition duration-150 text-white ease-in-out hover:border-red-400 hover:bg-red-500 border rounded px-8 py-2 text-sm"
          v-on:click="verModalEdit=false">Cancelar</button>
      </div>
      <button
        class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out rounded focus:ring-2 focus:outline-none focus:ring-gray-600"
        v-on:click="verModalEdit=false" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="20" height="20"
          viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" />
          <line x1="18" y1="6" x2="6" y2="18" />
          <line x1="6" y1="6" x2="18" y2="18" />
        </svg>
      </button>
    </div>
  </div>
</div>
<footer class="p-4">
  <p class="text-slate-500 text-center">Luis Cayo Huachaca - 2023</p>
</footer></template>

<style scoped></style>
